.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

body {
  background-image: url("./logo.svg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card-body {
  background-color: #fcf8ee;
  opacity: .8;
}

.card-title {
  font-weight: bold;
  color: #fcf8ee;
  background-color: #50524E;
  padding-left: 15px;
}

.card-subtitle {
  color: black;
  padding-left: 15px;
}

.card-text {
  color: black;
  font-weight: lighter;
  padding-left: 15px;
}

.card-link {
  margin-left: 15px;
}
