
  .groups-container {
    background-color: #FCF8EE;
    opacity: .8;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: auto;
  }
  .card-body {
    background-color: #FCF8EE;
  }
  .card-title {
    font-weight: bold;
    color: #FCF8EE;
    background-color: #50524E;
    padding-left: 15px;
  }
  .card-subtitle {
    color: black;
    padding-left: 15px;
  }
  .card-text {
    color: black;
    font-weight: lighter;
    padding-left: 15px;
  }
 
  .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  .navbar-a {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  .login-container {
    /* background-color: rgb(122, 122, 122); */
    opacity: .8;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: auto;
  }
  
  .resources-text{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: goldenrod;
    padding-top: 50px;
  }
  
 