#calNumber {
    margin: 0;
    font-size: 6vw;
    text-align: center;
    font-weight: 500;
    color: #a77700;
}

#calMonth {
    font-size: 2vw;
    text-align: center;
    color: #a77700;
}

.jumbotron {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    background-color: #fcf8ee;
    opacity: .8;
}